<%= link_to("<< Back to List", sections_path(:page_id => params[:page_id]), :class => 'back-link') %>

<div class="sections edit">
  <h2>Update Section</h2>

<%= form_for(@section, :url => section_path(:page_id => @page.id)) do |f| %>
<%= error_messages_for(f.object) %>
  <%= render partial: "form", :locals => {:f => f} %>
  <div class="form-buttons">
      <%= f.submit("Update Section") %>
    </div>
      <% end %>
</div>
