<%= link_to("<<Back to Menu", admin_path, :class => 'back-link')%>
<div class="subjects index">
  <h2>Pages</h2>
  <%= image_tag('plus_sign.png', :size => '11x11', :alt => '+')%>
  <%= link_to("Add New Page", new_page_path(:subject_id => @subject.id), :class => 'action new') %>

  <table class="listing" summary="Subject list">
    <tr class="header">
      <th>#</th>
      <th>Page</th>
      <th>Visible</th>
      <th>Permalink</th>
      <th>Subject Id</th>
      <th>Section Count</th>
      <th>Actions</th>
    </tr>
    <% @pages.each do |page| %>
    <tr>
      <td></td>
      <td><%= page.name %></td>
      <td class="center"><%= status_tag(page.visible) %></td>
      <td><%= page.permalink %></td>
      <td class="center"><%= page.subject.name %></td>
      <td class="center"><%= page.sections.size %></td>
      <td class="actions">
        <%= link_to("View Section", sections_path(:page_id => page.id, :subject_id => @subject.id), :class => 'action show') %>
        <%= link_to("Show", page_path(page, :subject_id => @subject.id, :page_id => page.id), :class => 'action show') %>
        <%= link_to("Edit", edit_page_path(page, :subject_id => @subject.id, :page_id => page.id), :class => 'action edit') %>
        <%= link_to("Delete", delete_page_path(page, :subject_id => @subject.id,:page_id => page.id), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
